<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="../../js/display.js"></script>
<link href="../css/table.css" type="text/css" rel="stylesheet">

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Daans Gymtracker</title>
  </head>

  <body>
    <div class="topnav">
      <h1 class="topnav-header">Gym-Tracker</h3>
      <a href="./index.html">Home</a>
      <a href="./tracker.html">Tracker</a>
      <a href="./toevoegen.html">Toevoegen</a>
      <a href="./display.html">Display</a>
    </div>
    <div class="container">
      <h1>Dhr. Daan J. Griffioen <img src="../img/griffioen.png" width="10%"></h1>
      <div class="table-wrapper" id="table-daan"></div>
      <h1>Dhr. Thomas van Vliet</h1>
      <div class="table-wrapper" id="table-thomas"></div>
      <h1>Dhr. Noah L. van Willigen</h1>
      <div class="table-wrapper" id="table-noah"></div>
    </div>
  </body>
</html>