<!-- <!DOCTYPE html> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoofdpagina</title>
  </head>

  <body id="body-index">
    <img src="../img/thomas-noah.png" width="28%" style="float:right; vertical-align:middle;">
    <div class="topnav">
      <h1 class="topnav-header">Gym-Tracker</h3>
      <a href="./index">Home</a>
      <a href="./tracker">Tracker</a>
      <a href="./toevoegen">Toevoegen</a>
      <a href="./display">Display</a>
    </div>
    
    <h1>Hier is die dan eindelijk</h1>
    <h2>De lang verwachte GymTracker</h2>
    <h3>Nice</h3>
  </body>
</html>