<!-- <!DOCTYPE html> -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="../../js/tracker.js"></script>
<link href="../css/style.css" type="text/css" rel="stylesheet">

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Daans GymTracker</title>
  </head>

  <body>
    <div class="container">

      <div class="topnav">
        <h1 class="topnav-header">Gym-Tracker</h3>
        <a href="./index">Home</a>
        <a href="./tracker">Tracker</a>
        <a href="./toevoegen">Toevoegen</a>
        <a href="./display">Display</a>
      </div>

      <div style="width: 100%; height: 3%;"></div>

      <form action="./tracker" method="POST">
        
        <input name="hidden" type="hidden" value="0">

        <select name="sporter" required id="naam-dd">
          <script>dropdown(0);</script>
        </select>

        <select name="exercise" required id="exc-dd">
          <script>dropdown(1);</script>
        </select>

        <input name="weight" id="weight" placeholder="Gewicht" type="number" required="true"> 

        <input name="reps" id="reps" placeholder="Reps" type="number" required="true">
        
        <input name="sets" id="sets" placeholder="Sets" type="number" required="true">
        

        <input name="submit" type="submit" formmethod="post">
      </form>
    </div>

    <p id="alert-track"></p>
  </body>
</html>